<!-- ══════════════════════════════════════════════════════════════════════════
     Footer — Clarity pattern: <footer> > <div class="container"> > <p>
     Attribution to Clarity Template is requested by the CC-BY-SA 4.0 licence.
     ══════════════════════════════════════════════════════════════════════════ -->
<footer>
    <div class="container">
        <p>
            © {{ now.Year }} {{ .Site.Params.name }}.
            Built on the <a href="https://shikun.io/projects/clarity">Clarity Template</a>,
            designed by <a href="https://shikun.io/">Shikun Liu</a>.
        </p>
    </div>
</footer>
